Using a table of differential expression and another containing normalized counts,

build upon the volcano plot we have made before to produce a dash app which displays normalized count data when a gene is clicked upon in the volcano.

Example result:

![volcano dash app example](images/volcano_dash.gif)


Do not hesitate to experiment different ways to visually organize this app, to represent the data, or add visualization options.

Ideas of possible extensions:
 * change the p-value / log Fold change threshold
 * display a table of significantly DE genes
 * add a download button to download a table of significantly DE genes
 * search bar to search for your favorite gene
 * ...

In [3]:
import pandas as pd


df = pd.read_csv( 'data/Ruhland2016.DESeq2.results.csv' , index_col=0)
df.head()

,baseMean,log2FoldChange,lfcSE,pvalue,padj,gene_name
ENSMUSG00000097426,27.184775,-0.040267,0.252966,0.627291,0.920448,ENSMUSG00000097426
ENSMUSG00000102135,2.799398,-0.017803,0.259973,0.719357,NaN,ENSMUSG00000102135
ENSMUSG00000100764,7.933996,0.077255,0.266120,0.338933,0.785335,ENSMUSG00000100764
ENSMUSG00000100635,6.563437,0.131920,0.299808,0.098540,0.484388,ENSMUSG00000100635
ENSMUSG00000100480,9.815896,0.004231,0.253920,0.954388,0.990006,ENSMUSG00000100480

In [4]:
df_count = pd.read_csv( "data/Ruhland2016.norm_counts.csv" , index_col= 0 )

df_count.head()

                       EtOH1     EtOH2     EtOH3      TAM1      TAM2      TAM3
ENSMUSG00000097426  5.306291  6.542014  5.349318  5.259900  6.014399  5.639758
ENSMUSG00000102135  4.524493  4.865929  4.542163  4.366363  4.840432  4.359845
ENSMUSG00000100764  5.117899  4.779493  4.656142  4.911830  5.215346  5.237392
ENSMUSG00000100635  4.726873  4.406787  4.834868  4.911830  5.162817  5.237392
ENSMUSG00000100480  5.007249  4.406787  5.550110  5.025935  5.162817  5.195680

Solution:

In [15]:
# %load solutions/solution_dash_volcano.py